html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

body {
    font-size: 14px;
    font-family: 'PT Sans Caption', sans-serif;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    background-color: #000;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.menu__list {
    display: flex;
    height: 100%;
}

.menu__list li {
    padding: 0 25px;
    display: flex;
    align-items: center;
    height: 52px;
}

.menu__list li:hover {
    background: gray;
    cursor: pointer; }

.menu__list-search:hover {
    background: gray;
    height: 100%;
}

.wrap {
    transform: translate(0%, 0%);
    width: 0px;
    line-height: 55px;
    padding-right: 55px;
    transition: all 0.5s ease;
}

.input {
    font-size: 14px;
    font-family: 'PT Sans Caption', sans-serif;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    color: #fff;
    transition: all 0.3s ease;
    position: relative;
    vertical-align: 0;
}

.wrap .fa {
    color: #fff;
    position: absolute;
    right: 17px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.wrap.active {
    width: 250px;
    transition: all 0.5s ease;
}

.input.active {
    width: 98%;
    transition: all 0.5s 0.8s ease;
}

input::placeholder {
    color: #fff;
}

.top__inner {
    padding-top: 40px;
    align-items: center;
    text-align: center;
}

.img2 {
    height: 140px;
}

.img1 {
    padding-top: 35px;
    margin-bottom: 55px;
    width: 150px;
}

.top__info {
    padding-top: 10px;
    font-size: 18px;
}

.block__info {
    max-height: 380px;
    background-color: rgb(204, 214, 218);
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    position: relative;
}

.block__image {
    margin: 45px;
}

.block__image img {
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.block__info-box {
    margin: 73px 100px 73px 0px;
}

.block__title {
    font-size: 16px;
}

.block__text {
    margin-top: 25px;
    font-size: 15px;
    line-height: 23px;
    font-family: 'PT sans', sans-serif;
    font-weight: 400;
}

.block__info-list {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.block__info-list li {
    margin: 0px 20px 10px 16px;
}

.block-right {
    margin: 73px 10px 73px 45px;
}

.info__action-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.subscribe {
    height: 40px;
    width: 210px;
    border-radius: 50px 50px;
    background-color: #000;
    text-align: center;
    padding-top: 13px;
    margin: 25px 0;
}

.title {
    text-transform: none;
    font-family: 'Caveat', cursive;
    font-size: 46px;
}

.title-box {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.info__title-border {
    border-bottom: 10px solid #fdd146;
    border-radius: 100px;
    position: inherit;
    top: -12px;
    z-index: -1;
}

.info__text {
    padding-top: 40px;
    line-height: 1.7;
    font-size: 17px;
}

.info__block-img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.block__img-scr {
    height: 425px;
}

.block__img-gal {
    height: 200px;
    position: absolute;
    left: 145px;
    top: 6px;
    z-index: 4;
}

.info__action-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

.action {
    height: 45px;
    width: 230px;
    background-color: #fdd146;
    text-align: center;
    color: #000;
    margin: 0 auto;
    padding-top: 16px;
}

.footer {
    background: #000;
}

.footer__inner {
    margin: -65px 0;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    width: 250px;
    color: #fff;
    line-height: 1.7;
    font-size: 13px;
}

.footer__title-box {
    border-bottom: 2px solid #fff;
    border-radius: 100px;
    width: 30px;
    margin: 5px 0;
}

.footer__list {
    list-style: none;
}

.footer__list li {
    margin-bottom: 5px;
}

.footer__button {
    width: 200px;
    padding: 5px 0;
    padding-left: 30px;
    margin: 5px 0;
    border: 2px solid #fff;
}